<!DOCTYPE html>
<html lang="en">
    <%- include("../partials/head")%>
<body class="terminos">
    
    <main class="menuT">
        <h1>Términos del servicio</h1>
        <h1>Términos y Condiciones de uso de la Tienda Virtual</h1>
        <h3>
    
    
            Términos y condiciones Este contrato describe los términos y condiciones aplicables al uso de los productos
            ofrecidos por LA OPTICA ,
    
            Cualquier persona que desee acceder y/o usar el sitio o los servicios podrá hacerlo sujetándose a los Términos y
            Condiciones, junto con todas las demás políticas y principios que rigen la tienda virtual de la optica,
            detallados a continuación.
    
            En consecuencia, todas las visitas y cada una de las operaciones y transacciones que se realicen en este sitio,
            como asimismo sus efectos jurídicos, quedarán regidos por estas reglas y sometidas a la legislación aplicable en
            la República Argentina.
    
            CUALQUIER PERSONA QUE NO ACEPTE ESTOS TÉRMINOS Y CONDICIONES, LOS CUALES TIENEN CARÁCTER OBLIGATORIO Y
            VINCULANTE, DEBERÁ ABSTENERSE DE UTILIZAR EL SITIO Y/O LOS SERVICIOS.
    
            En forma previa al uso del sitio y/o los servicios, el Usuario deberá leer, entender y aceptar todas las
            condiciones establecidas en los Términos y Condiciones. Utilizar el sitio, implica haber aceptado las
            condiciones establecidas en los Términos y Condiciones y las políticas de la tienda virtual de LA OPTICA.
    
            Por ello, se obliga a cumplir expresamente con las mismas.
        </h3>
    
    
        <h1>CAPACIDAD</h1>
        <H3>Los servicios y/o el sitio, sólo están disponibles para personas que tengan capacidad legal para contratar de
            acuerdo a la legislación vigente en la República Argentina. No podrán utilizar los servicios las personas que no
            tengan esa capacidad, los menores de edad o Usuarios de LA OPTICA que hayan sido suspendidos temporalmente o
            inhabilitados definitivamente.</H3>
    
        <h1>REGISTRACIÓN</h1>
        <h3>Es obligatorio completar el formulario de registración en todos sus campos con datos válidos para la adquisición
            de productos y servicios ofrecidos en este sitio. El futuro Usuario deberá completarlo con su información
            personal de manera exacta, precisa y verdadera ("Datos Personales") y asume el compromiso de actualizar los
            Datos Personales conforme resulte necesario.
            LA OPTICA, no se responsabiliza por la certeza de los Datos Personales provistos por sus Usuarios. Los Usuarios
            garantizan y responden, en cualquier caso, de la veracidad, exactitud, vigencia y autenticidad de los Datos
            Personales ingresados. Se reserva el derecho de solicitar algún comprobante y/o dato adicional a efectos de
            corroborar los Datos Personales, así como de suspender temporal o definitivamente a aquellos Usuarios cuyos
            datos no hayan podido ser confirmados. En estos casos de inhabilitación, se dará de baja la compra efectuada,
            sin que ello genere algún derecho a resarcimiento.
            El Usuario dispondrá, una vez registrado, de un nombre y contraseña o clave definitiva que le permitirá el
            acceso personalizado, confidencial y seguro. El Usuario tendrá la posibilidad de cambiar la clave de acceso,
            para lo cual deberá sujetarse al procedimiento establecido en el sitio respectivo. El Usuario se obliga a
            mantener la confidencialidad de su Clave de acceso, asumiendo totalmente la responsabilidad por el mantenimiento
            de la confidencialidad de su clave secreta registrada en este sitio web, la cual le permite efectuar compras, y
            obtener información. Dicha clave es de uso personal y su entrega a terceros, no genera responsabilidad de LA
            OPTICA en caso de mala utilización.
    
            El Usuario será responsable por todas las operaciones efectuadas en su Cuenta, por sí y/o por terceros, pues el
            acceso a la misma está restringido al ingreso y uso de su Clave Secreta, de conocimiento exclusivo del Usuario.
            El Usuario se compromete a notificar en forma inmediata y por medio idóneo y fehaciente, cualquier uso no
            autorizado de su Cuenta, así como el ingreso por terceros no autorizados a la misma. Se aclara que está
            prohibida la venta, cesión o transferencia de la Clave bajo cualquier título.
    
            LA OPTICA, se reserva el derecho de rechazar cualquier solicitud de registración o de cancelar una registración
            previamente aceptada, sin que esté obligado a comunicar o exponer las razones de su decisión y sin que ello
            genere algún derecho a indemnización o resarcimiento.
        </h3>
    
    
    
    
        <h1>PRIVACIDAD.</h1>
    
        <H3>Para utilizar los servicios ofrecidos por LA OPTICA, mediante la tienda Virtual, los Usuarios deberán facilitar
            determinados datos de carácter personal. Su información personal se procesa y almacena en servidores o medios
            magnéticos que mantienen altos estándares de seguridad y protección tanto física como tecnológica. Para mayor
            información sobre la privacidad de los Datos Personales y casos en los que será revelada la información
            personal, se pueden consultar nuestras Política de Privacidad y Cookies.</H3>
    
        <H1>MODIFICACIONES DE LOS TÉRMINOS Y CONDICIONES.</H1>
        <H3>Se podrá modificar sin previo aviso los Términos y Condiciones en cualquier momento haciendo públicos en el
            sitio los términos modificados. Para las transacciones en curso que hayan comenzado con anterioridad a dichas
            modificaciones, subsistirán las condiciones vigentes al momento de su concertación, a menos que las nuevas
            modificaciones introducidas fueran más beneficiosas para el Usuario.
    
            El Usuario estará sujeto a los Términos y Condiciones vigentes al momento que realice el uso del sitio, salvo
            que por ley o decisión de organismos gubernamentales se deba hacer cambios con carácter retroactivo en dichos
            Términos y Condiciones, en cuyo caso, los posibles cambios afectarán también a los pedidos que hubiera hecho
            previamente el Usuario. En dicho caso se pondrá un aviso en el sitio alertando a los Usuarios sobre estos
            cambios, durante un tiempo razonable. Sin perjuicio de lo anterior, los Usuarios son responsables de leer estos
            términos y condiciones cada vez que ingresen al sitio y en forma previa a realizar cualquier transacción para
            ver si han sufrido modificaciones.</H3>
    
        <H1>PROCEDIMIENTO PARA HACER USO DE ESTE SITIO DE INTERNET.</H1>
        <H3>La información contenida en los Términos y Condiciones y los contenidos del sitio no constituyen una oferta de
            venta, sino una invitación para contratar. No existirá ningún contrato entre LA OPTICA y el Usuario en relación
            a ningún producto hasta que el pedido haya sido expresamente aceptado por LA OPTICA. Si la transacción del
            Usuario no es aceptada y ya se le hubiese hecho algún cargo en su cuenta, el importe del mismo le será
            reintegrado en su totalidad.
    
            LA OPTICA informará, de manera inequívoca y fácilmente accesible, los pasos que deben seguirse para concretar la
            operación. Se indicará, además, la dirección de correo postal o electrónico y los medios técnicos a disposición
            del consumidor para identificar y corregir errores en el envío o en sus datos.</H3>
    
        <H1>MEDIOS DE PAGO QUE SE PODRÁN UTILIZAR EN ESTE SITIO.</H1>
        <H3>Los productos ofrecidos en este sitio, salvo que se señale una forma diferente para casos particulares u ofertas
            de determinados bienes o servicios, pueden ser pagados a través de tarjeta de crédito, tarjeta de débito, en
            efectivo (a través de los medios autorizados por la página) y transferencia por Red Link. Sin perjuicio de lo
            antes mencionado, los medios de pago podrán variar en cualquier momento. Dicho cambio será publicado en el
            sitio. Tratándose de tarjetas bancarias aceptadas en este sitio, los aspectos relativos a éstas, tales como la
            fecha de emisión; caducidad, cupo, bloqueos, etc., se regirán por el respectivo Contrato que celebró con el
            Banco o Tarjeta de Crédito, de tal forma que LA OPTICA no tendrá responsabilidad en cualquiera de los aspectos
            señalados. Considerar que en eventos que representan grandes volúmenes de venta online los pagos no inmediatos
            (depósitos, pago fácil, etc) no aseguran la disponibilidad del producto luego de las 6 horas de emitir el cupón.
        </H3>
    
        <H1>PERFECCIONAMIENTO DE LAS OPERACIONES A TRAVÉS DE ESTE SITIO.</H1>
        <H3>A través de este sitio se realizarán las invitaciones a ofertar, que serán aceptadas por vía electrónica, y
            utilizando los mecanismos que el mismo sitio ofrece para ello. La aceptación por parte de LA OPTICA quedará
            sujeta a que LA OPTICA valide la transacción. En consecuencia, para toda operación que se efectúe en este sitio,
            la confirmación y/o validación y/o verificación por parte de LA OPTICA, será requisito indispensable para el
            perfeccionamiento de la operación.
            Para validar la transacción LA OPTICA deberá verificar:
    
            1. Que dispone, en el momento de la aceptación de oferta, de las especies en stock.
            2. Que valida y acepta el medio de pago ofrecido por el usuario.
            3. Que los datos registrados por el cliente en el sitio coinciden con los proporcionados al efectuar su oferta..
    
            Para informar al usuario o consumidor acerca de esta validación, LA OPTICA deberá enviar una confirmación
            escrita a la misma dirección electrónica que haya registrado el usuario al efectuar su pedido, o por cualquier
            medio de comunicación que garantice el debido y oportuno conocimiento del consumidor. La operación se entenderá
            perfeccionada desde el momento en que se envía esta confirmación escrita al usuario y en el lugar en que fue
            expedida.
        </H3>
        <H1>PLAZO DE VALIDEZ Y PRECIO</H1>
        <H3>El plazo de validez de la invitación a ofertar es aquel que coincide con la fecha de vigencia que se indica en
            la promoción o en virtud del agotamiento de las cantidades de productos disponibles para esa promoción
            debidamente informados al Consumidor.
    
            Los precios de los productos disponibles en este sitio, mientras aparezcan en él, solo tendrán vigencia y
            aplicación en éste, y no serán necesariamente aplicables a otros canales de venta utilizados por LA OPTICA,
            tales como tiendas físicas u otros que pudieran existir.
    
            Todos los precios incluyen el impuesto al valor agregado (IVA).El precio incluye el gasto de envío cuando la
            compra que se efectúe sea mayor a $2.500.
    
            LA OPTICA podrá modificar cualquier información contenida en este sitio, incluyendo las relacionadas con
            mercaderías, servicios, precios, stock y condiciones, en cualquier momento y sin previo aviso, hasta el momento
            de aceptación de la compra, la cual obligará a LA OPTICA.</H3>
    
    
    
        <H1>PROMOCIONES</H1>
    
        <H3>Las promociones que se ofrezcan en este sitio, no son necesariamente las mismas que ofrezcan otros canales de
            venta utilizados por LA OPTICA.</H3>
    
        <H1>PRODUCTOS</H1>
        <H3>Únicamente podrá comprar productos: (i) que estén disponibles para su venta y cuyos detalles aparezcan en la
            tienda online; (ii) con entrega en Argentina para los códigos postales autorizados por el proveedor logístico
            los cuales estarán disponibles en el campo de selección de código postal de Los sitios web de Tienda online. Los
            detalles de los productos disponibles para su compra (incluyendo su correspondiente precio) se encuentran
            especificados en la tienda online. Una vez que haya seleccionado los productos que desee adquirir, dichos
            productos serán incluidos en el carrito de compra. Podrá acceder a la página de resumen del carrito de compras,
            donde podrá identificar y corregir posibles errores de información referente a su compra y seleccionar donde se
            efectuará la entrega del producto o en qué sucursal pasará a retirarlos. Al final del proceso de selección, hará
            clic en el botón de finalizar compra. Al final de la página de resumen del pedido del carrito de compra, deberá
            completar y seleccionar los datos requeridos y aceptar haber leído los Términos y Condiciones Generales y los
            Términos y Condiciones de uso de la Tienda Virtual y hacer clic en el botón “realizar el pedido” para proceder a
            seleccionar los medios de pagos con los que efectuará la transacción y los datos requeridos para efectuar el
            pago. Una vez finalizado el ingreso de datos deberá hacer clic en el botón “Continuar”.
    
            Al aceptar los términos y condiciones de compra de los sitios web de tienda online, usted reconoce y acepta
            pagar a LA OPTICA, el importe total de los productos previo a que reciba los mismos.
    
            Los productos adquiridos a través del sitio se sujetarán a las condiciones de despacho y entrega disponibles en
            el sitio (Envío a Domicilio, Retiro por sucursal LA OPTICA y Retiro por sucursal OCA). La información del lugar
            de envío es de exclusiva responsabilidad del usuario. Los plazos elegidos para el despacho y entrega, se cuentan
            desde que LA OPTICA haya validado y aceptado la compra y el medio de pago utilizado, y se consideran días
            hábiles para el cumplimiento de dicho plazo.</H3>
    
        <H1>PROCEDIMIENTO DE DEVOLUCIONES</H1>
        <H3>En las operaciones realizadas por medio de este sitio, el usuario o consumidor podrá revocar la compra realizada
            dentro del plazo de diez (10) días contados a partir de la entrega del producto o de la celebración del
            contrato, lo último que ocurra, a menos que en una determinada oferta se contemple expresamente un plazo mayor.
            Pasado ese plazo, LA OPTICA podrá buscar la mejor solución posible en pos de la satisfacción del consumidor, sin
            que esto sea obligatorio.
    
            Dentro del plazo estipulado, el consumidor comunicará fehacientemente dicha revocación a LA OPTICA, mediante
            correo electrónico dirigido a ecommerce@masvision.com.ar el que será respondido lo antes posible, proporcionando
            las instrucciones necesarias para revocar la compra.
    
            Dentro de dicho plazo, el consumidor podrá proceder a la devolución remitiendo a LA OPTICA el producto
            adquirido, en perfecto estado de uso y conservación, junto con sus etiquetas, embalaje y accesorios originales,
            también en perfecto estado, y acompañando su factura/ticket respectivo. Para realizar la devolución del
            producto, se deberá devolver a través de alguna sucursal OCA.
    
            Una vez recibido el producto por LA OPTICA en su domicilio y examinado el mismo, se procederá a la restitución
            de la cantidad abonada en concepto de precio, por el mismo medio en que fue abonado el producto. En caso de
            realizar una compra en efectivo la devolución del dinero se realizará en la cuenta bancaria que denuncie el
            consumidor. La devolución del artículo por el consumidor no supondrá penalización alguna para LA OPTICA ni para
            el consumidor. Para tramitar la devolución, es necesario contactarse mediante un correo electrónico dirigido a
            ecommerce@masvision.com.ar indicando: número de pedido, el motivo de la devolución y producto que desea
            devolver. Las devoluciones se efectúan únicamente por medio del e-mail mencionado. El mismo se responderá lo
            antes posible, proporcionando las instrucciones necesarias para realizar la devolución. La devolución deberá ser
            efectuada por el cliente. LA OPTICA no será responsable por la pérdida, robo, hurto y o cualquier otro hecho que
            produzca un daño y/o la desaparición del producto por cualquier medio que no pertenezca a LA OPTICA. Si al
            recibir el producto LA OPTICA constata que la mercadería no se encuentra en su embalaje original o que se ha
            dañado o faltan accesorios por causas imputables al cliente, podrá rechazar la devolución, sin derecho a
            indemnización ni compensación a favor del Cliente. Los gastos de envíos y retiro del producto en caso de
            devolución, no tendrán costo alguno para el cliente.</H3>
    
        <H1>PROCEDIMIENTO DE CAMBIOS</H1>
        <H3>
            El Usuario cuenta con un plazo de treinta (30) días corridos desde la recepción del producto para realizar
            cambios. El producto debe encontrarse sin usar y en el mismo estado en que lo recibió. El consumidor debe
            presentar junto con el producto, la correspondiente factura de compra y el Packaging original.
    
            Los productos tienen un plazo de seis (6) meses de garantía en caso de defectos propios de fabricación. Los
            productos serán analizados, y, en caso de detectarse un defecto de fabricación, se realizará el cambio de
            producto o el reembolso de valores sin costo adicional para el cliente.
    
            Dentro del plazo estipulado, el consumidor comunicará fehacientemente dicha cambio a LA OPTICA, mediante correo
            electrónico dirigido a ecommerce@masvision.com.ar el que será respondido lo antes posible, proporcionando las
            instrucciones necesarias para efectuar la compra.
    
            Dentro de dicho plazo, el consumidor podrá proceder al cambio remitiendo a LA OPTICA el producto adquirido, en
            perfecto estado de uso y conservación, junto con sus etiquetas, embalaje y accesorios originales, también en
            perfecto estado, y acompañando su factura/ticket respectivo. Para realizar el cambio del producto, se deberá
            remitir a través de alguna sucursal OCA.
    
            El cambio del artículo por el consumidor no supondrá penalización alguna para LA OPTICA ni para el consumidor.
            Para tramitar el cambio, es necesario contactarse mediante un correo electrónico dirigido a
            ecommerce@masvision.com.ar indicando: número de pedido, el motivo del cambio y producto que desea cambiar. Los
            cambios se efectúan únicamente por medio del e-mail mencionado. El mismo se responderá lo antes posible,
            proporcionando las instrucciones necesarias para realizar el cambio. El cambio deberá ser efectuado por el
            cliente. LA OPTICA no será responsable por la pérdida, robo, hurto y o cualquier otro hecho que produzca un daño
            y/o la desaparición del producto por cualquier medio que no pertenezca a LA OPTICA. Si al recibir el producto LA
            OPTICA constata que la mercadería no se encuentra en su embalaje original o que se ha dañado o faltan accesorios
            por causas imputables al cliente, podrá rechazar el cambio, sin derecho a indemnización ni compensación a favor
            del Cliente. Los gastos de envíos y retiro del producto en caso de cambio, no tendrán costo alguno para el
            cliente.
        </H3>
    
        <H1>USO DE LOS DATOS PERSONALES REGISTRADOS EN EL SITIO</H1>
        <H3>Tiene derecho a retirar su consentimiento respecto del uso de los datos personales, así como a acceder a los
            mismos y a rectificarlos o cancelarlos si los datos que almacenamos son incorrectos o ilícitos por cualquier
            motivo. Aquellas personas físicas que hayan facilitado sus datos, podrán dirigirse a esta entidad, en su calidad
            de titular de los datos, con el fin de poder ejercitar gratuitamente sus derechos de acceso, rectificación,
            cancelación y oposición respecto de sus datos, conforme a la normativa vigente.
    
            Para modificar sus suscripciones o dejar de recibir las comunicaciones de LA OPTICA, el usuario debe ponerse en
            contacto con nosotros para ejercer sus derechos de acceso, rectificación o cancelación, u oponerse al
            tratamiento de sus datos personales mediante comunicación por escrito dirigida a LA OPTICA a la dirección
            indicada al inicio o a la dirección de correo electrónico masvision@masvision.com.ar.
    
            Conforme se establece en el artículo 14, inciso 3 de la Ley Nº 25.326, el titular de los datos personales tiene
            la facultad de ejercer el derecho de acceso a los mismos en forma gratuita a intervalos no inferiores a seis
            meses, salvo que se acredite un interés legítimo al efecto.
    
            Se informa que la Dirección Nacional de Protección de Datos Personales, Órgano de Control de la Ley Nº 25.326,
            tiene la atribución de atender las denuncias y reclamos que se interpongan con relación al incumplimiento de las
            normas sobre protección de datos personales.
    
            Para el ejercicio de estos derechos simplemente se debe enviar una solicitud de consulta, rectificación,
            actualización y/o supresión, según el caso, mediante requerimiento escrito al domicilio del Organizador sito en
            calle Avenida Leandro N. Alem 882, Ciudad Autónoma de Buenos Aires o e-mail ecommerce@masvision.com.ar y los
            datos serán informados, rectificados, actualizados y/o suprimidos dentro de los 5 (cinco) días hábiles de
            recibido el pedido.</H3>
    
        <H1>VIOLACIONES DEL SISTEMA O BASES DE DATOS</H1>
        <H3>No está permitida ninguna acción o uso de dispositivo, software, u otro medio tendiente a interferir tanto en
            las actividades y operatoria de LA OPTICA como en las ofertas, descripciones, cuentas o bases de datos de LA
            OPTICA. Cualquier intromisión, tentativa o actividad violatoria o contraria a las leyes sobre derecho de
            propiedad intelectual y/o a las prohibiciones estipuladas en este contrato harán pasible a su responsable de las
            acciones legales pertinentes, y a las sanciones previstas por este acuerdo, así como lo hará responsable de
            indemnizar los daños ocasionados.
    
            PROPIEDAD INTELECTUAL Los contenidos de las pantallas relativas a los productos de LA OPTICA, como así también
            la información, datos, textos gráficos, imágenes, fotografías, audio y video clips, logotipos, iconos,
            programas, bases de datos, redes, archivos que permiten al Usuario acceder y usar su cuenta, son de propiedad de
            LA OPTICA y están protegidas por las leyes y los tratados internacionales de derecho de autor, marcas, patentes,
            modelos y diseños industriales. El uso indebido y la reproducción total o parcial de dichos contenidos quedan
            prohibidos, salvo autorización expresa y por escrito de LA OPTICA.</H3>
    
        <H1>OTROS SITIOS WEB</H1>
        <H3>LA OPTICA no tendrá responsabilidad sobre la información proporcionada por otros sitios web y las consecuencias
            que de ello se deriven. LA OPTICA no garantiza, avala ni respalda de ninguna forma el acceso, información o
            contenido de cualquier otro sitio web o portal en los casos que dicho acceso se efectúe desde o hacia este, ya
            sea que dicho acceso se efectúe mediante link, banner o mediante cualquier dispositivo disponible en la red. El
            sitio puede contener enlaces a otros sitios web lo cual no indica que sean propiedad u operados por LA OPTICA.
            En virtud que LA OPTICA no tiene control sobre tales sitios, no será responsable por los contenidos, materiales,
            acciones y/o servicios prestados por los mismos, ni por daños o pérdidas ocasionadas por la utilización de los
            mismos, sean causadas directa o indirectamente. La presencia de enlaces a otros sitios web no implica una
            sociedad, relación, aprobación, respaldo de LA OPTICA a dichos sitios y sus contenidos.</H3>
    
        <H1>SANCIONES. SUSPENSIÓN DE OPERACIONES</H1>
        <H3>Sin perjuicio de otras medidas, LA OPTICA advertirá, suspenderá temporalmente o inhabilitará definitivamente la
            cuenta de un Usuario o una publicación e iniciará las acciones que estime pertinentes, y no le prestará sus
            servicios si:
            • Se quebrantara alguna ley, o cualquiera de las estipulaciones de los Términos y Condiciones y demás políticas
            de LA OPTICA.
            • Si incumpliera sus compromisos como Usuario.
            • Si se incurriera a criterio de LA OPTICA en conductas o actos dolosos o fraudulentos.
            • No pudiera verificarse la identidad del Usuario o cualquier información proporcionada por el mismo fuere
            errónea.
    
            En el caso de la suspensión o inhabilitación de un Usuario, todos los artículos que hubiera adquirido y las
            ofertas realizadas serán removidas del sistema, sin lugar a reclamo alguno a favor del Usuario.
        </H3>
        <H1>FALLAS EN EL SISTEMA</H1>
    
    
        <H3>LA OPTICA, no garantiza la inexistencia de eventuales dificultades técnicas o fallas en los sistemas o en
            Internet. LA OPTICA, no garantiza el acceso y uso continuado o ininterrumpido de su sitio. El sistema puede
            eventualmente no estar disponible debido a dificultades técnicas o fallas de Internet, o por cualquier otra
            circunstancia ajena a LA OPTICA; en tales casos se procurará restablecerlo con la mayor celeridad posible. LA
            OPTICA no garantiza la inexistencia de errores u omisiones en su sitio web.</H3>
    
        <H1>PRECIO</H1>
    
        <H3>La registración en LA OPTICA es gratuita. Al adquirir un producto, el usuario deberá pagar el precio publicado y
            los gastos de envío, si los hubiese. LA OPTICA se reserva el derecho de modificar, cambiar, agregar, o eliminar
            los precios vigentes, en cualquier momento, lo cual será publicado en el sitio. Sin embargo, LA OPTICA podrá
            modificar temporalmente la política de precios por sus servicios por razón de promociones, siendo efectivas
            estas modificaciones cuando se haga pública la promoción o se realice el anuncio y hasta la fecha de su
            finalización. LA OPTICA se reserva el derecho de tomar las medidas judiciales y extrajudiciales que estime
            pertinentes para obtener el pago del monto debido.
    
            En caso de haberse facturado cargos que no hubiesen correspondido, el Usuario deberá comunicarse con nuestro
            equipo de Atención al Cliente para resolver dicha cuestión. Enviando un mail a ecommerce@masvision.com.ar que se
            contestará con la mayor celeridad posible.</H3>
    
        <H1>IMPOSIBILIDAD DE ENTREGA</H1>
        <H3>Si tras dos intentos no resulta posible efectuar la entrega del pedido, LA OPTICA se comunicará con el Usuario
            para pactar día y horario de entrega.</H3>
    
        <H1>FUERZA MAYOR</H1>
        <H3>LA OPTICA no será responsable por ningún incumplimiento o retraso en el incumplimiento de alguna de las
            obligaciones asumidas en estos Términos y Condiciones, cuya causa se deba a acontecimientos que están fuera de
            su control razonable (“Causa de Fuerza Mayor”).
    
            Las Causas de Fuerza Mayor incluirán cualquier acto, acontecimiento, falta de ejercicio, omisión o accidente que
            esté fuera de control razonable de LA OPTICA e incluirán en especial (sin limitación) lo siguiente:
    
            1. Huelgas, cierres patronales u otras medidas reivindicativas.
            2. Conmoción civil, revuelta.
            3. Incendio, explosión, tormenta, inundación, terremoto, hundimiento, epidemia o cualquier otro desastre
            natural.
            4. Imposibilidad de uso de trenes, barcos, aviones, transportes de motor u otros medios de transporte, públicos
            o privados.
            5. Imposibilidad de utilizar sistemas públicos o privados de telecomunicaciones.
            6. Actos, decretos, legislación, normativa o restricción de cualquier gobierno o autoridad pública.
            7. Feriados, días festivos y/o ferias que afecten total o parcialmente la gestión.
    
            Las obligaciones de LA OPTICA quedarán suspendidas durante el período en que la Causa de Fuerza Mayor continúe,
            y ésta dispondrá de una ampliación en el plazo para cumplir dichas obligaciones por un período de tiempo igual
            al que dure la Causa de Fuerza Mayor. LA OPTICA hará sus mejores esfuerzos por superar la Causa de Fuerza Mayor
            o para poder cumplir sus obligaciones a pesar de ella.</H3>
    
    
        <H1>CONSULTA SOBRE EL ESTADO DEL ENVÍO</H1>
        <H3>El estado (“tracking”) del pedido podrá ser consultado en cualquier momento a través del número de tracking que será
            enviado luego de que el producto ingrese a OCA.</H3>
        
        <h1>LEY APLICABLE</h1>
        <H3>Este acuerdo estará regido en todos sus puntos por las leyes vigentes en la República Argentina.</H3>
    
    </main>
    


</body>

</html>