

body.menu{
  
  padding-top: 30px;
  text-align: center;
  width: 100%;
  background-color: #a0c5f7;
  
 font-family: var(--font-body);
}
body.menu .inicio{

  background-color: #fff;
  text-align: center;
  font-size: var(--font-title);
  width: 90%;
  border: gray solid 2px;
  margin: 5%;
  border-radius: 5%;
}
body.menu .inicio .articulo{
  width: 90%;
  border:  gray solid 2px;
}
body.menu .inicio .articulo  article{
  width: 90%;
  
}


body.menu  .articulo  article .imagendetallada {
  
  margin:5%;
  width: 90%;
  background-color: #fff;
  border: gray solid 2px;
  border-radius: 5%;
}
body.menu  .articulo  article .imagendetallada div{
  
  
  margin :5%;
  text-align: center;
}
body.menu  .articulo  article .imagendetallada div img{
 
  width: 80%;
}

body.menu  .articulo  article .imagendetallada ul{
  
  width: 90%;
  font-family: var(--font-body);
  margin :5%;
  text-align: center;
  
}
body.menu  .articulo  article .imagendetallada ul label{
  font-size: var(--font-subtitle)
}
body.menu  .articulo  article  ol{


  background-color: #c1dbfd;
  padding: 5%;
  text-align: center;
  width: 90%;
  border: gray solid 2px;
  border-radius: 5%;
  display: flex;
  margin: 5%;
  flex-direction: column;
}

body.menu  .articulo  article  ol label{
  font-size:  var(--font-subtitle);
  font-family: var(--font-body);
}


body.menu  .articulo  article  ol input{
padding: 2%;
font-size: var(--font-subtitle);
border: steelblue solid 1px;


}


body.menu h4{
  font-size: var(--font-title);
  margin: 5%;
  text-align: center;
}
body.menu textarea{
  border-radius: 5%;
  background-color: #c1dbfd;
  width: 80%;
  margin: 5%;
}
 body.menu button{
   
   margin: 5%;
   width: 70%;
   height: 45px;
   font-size: 16px;
   border: gray solid 1px;
   border-radius: 5%;
 }


