

.tabla{
    padding: 0;
    border-collapse: collapse;
    text-align: center;
    margin: 20px 30px;
}

.tabla1{
    margin-top: 60px;    
}

.botones{
    text-align: center;
}

th, td{
    border: solid 1px black;
    padding: 10px;
}

thead{
    background-color: rgb(122, 159, 226);
    border-bottom: solid 5px black;
}

tr:nth-child(even){
    background-color: #ddd;
}

tr:hover{
    background-color: #abf0e1;
}