.switch {
    border-radius: 20px;
    color: white;
    background-color: white;
    width: 50px;
    display: flex;
    justify-content: space-between;
    padding: 0 5px;
    position: relative;
    cursor: pointer; }
    .switch::after {
      content: " ";
      display: "block";
      width: 25px;
      height: 25px;
      position: absolute;
      background-color: #F1F1F1;
      top: 0;
      left: 0;
      right: unset;
      border-radius: 100%;
      transition: ease all 0.5s;
      box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.2); }
    .switch.active {
      background-color: white; }
    .switch.active::after {
        right: 0;
        left: unset; }




















body.list main section.contenedora {
    position: relative;
}

/* products */
body.list main section.contenedora section.productos {
    margin: 90px 10px 110px;
    max-width: 900px;
}


/* category */
body.list main section.contenedora section.category {
    width: 21%;
    margin: 90px 10px 90px 20px;
    display: none;
}
body.list main section.contenedora section.category ul {
    padding-bottom: 10px;
    margin: 20px 0;
    text-transform: uppercase;
    border-right: 1px solid rgb(204 204 204);
    border-bottom: 1px solid rgb(204 204 204);
    box-shadow: 2px 4px rgb(204 204 204 / 34%);
    border-bottom-right-radius: 3px;
}
body.list main section.contenedora section.category ul a {
    display: block;
    margin-right: 5px;
    padding-left: 4px;
    line-height: 2;
}
body.list main section.contenedora section.category li a{
    display: block;
    line-height: 2;
    margin-right: 7px;
    margin-left: 5px;
    padding-left: 4px;
}
body.list main section.contenedora section.category a:hover {
    background-color: rgba(255, 255, 255, 0.705);
    color: #2826bc;
}

/* filter */
body.list main section.contenedora section.filter {
    position: absolute;
    top: -48px;
}
body.list main section.contenedora section.filter form {
    display: flex;
    justify-content: center;
    width: 300px;
}
body.list main section.contenedora section.filter select {
    width: 70%;
    height: 2.7rem;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    padding-left: 7px;
}
body.list main section.contenedora section.filter input {
    width: 25%;
    line-height: 2.5;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius:  5px;
    border-left: none;
    background-color: white;
    padding: 0 7px;
}
body.list main section.contenedora section.filter input:hover {
    color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.2);
}
    

/* media queries */
/* Vista mobile a partir de 320px */
@media (min-width: 320px) { 
    body.list main section.contenedora section.filter{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
/* Vista tablet a partir de 425px hereda de index.css  */
@media (min-width: 425px){
    body.list main section.contenedora section.dosProductos article {
        width: 70%;
        display: block;
    }
}
/* Vista Laptop a partir de 768px */
@media (min-width: 768px) {
    body.list main section.contenedora {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
    }
    body.list main section.contenedora section.productos article {
        width: 31.3%;
        display: block;
    }
    body.list main section.contenedora section.dosProductos article {
        width: 46%;
        display: block;
    }
    body.list main section.contenedora section.category {
        display: block;
    }
    body.list main section.contenedora section.filter{
        top: 45px;
        width: max-content;
        right: 25px;
    }
}

/* Vista Monitor a partir de 1020px */
@media (min-width: 1020px) {
    body.list main section.productos article {
        width: 23%;
    }

    
}