body.list main {
    position: relative;
}

/* products */
body.list main section.productos {
    margin: 90px 10px 110px;
}


/* category */
body.list main section.category {
    width: 21%;
    margin: 90px 10px;
    display: none;
}
body.list main section.category ul {
    padding-bottom: 10px;
    margin: 20px 0;
    text-transform: uppercase;
    border-right: 1px solid rgb(204 204 204);
    border-bottom: 1px solid rgb(204 204 204);
    box-shadow: 2px 4px rgb(204 204 204 / 34%);
    border-bottom-right-radius: 3px;
}
body.list main section.category ul a {
    display: block;
    margin-right: 5px;
    padding-left: 4px;
    line-height: 2;
}
body.list main section.category li a{
    display: block;
    line-height: 2;
    margin-right: 7px;
    margin-left: 5px;
    padding-left: 4px;
}
body.list main section.category a:hover {
    background-color: rgba(255, 255, 255, 0.705);
    color: #2826bc;
}

/* filter */
body.list main section.filter {
    position: absolute;
    top: -48px;
}
body.list main section.filter form {
    display: flex;
    justify-content: center;
    width: 300px;
}
body.list main section.filter select {
    width: 70%;
    height: 2.7rem;
    border: 1px solid gray;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-right: none;
    padding-left: 7px;
}
body.list main section.filter input {
    width: 25%;
    line-height: 2.5;
    border: 1px solid gray;
    border-top-right-radius: 5px;
    border-bottom-right-radius:  5px;
    border-left: none;
    background-color: white;
    padding: 0 7px;
}
body.list main section.filter input:hover {
    color: whitesmoke;
    background-color: rgba(128, 128, 128, 0.2);
}
    

/* media queries */
/* Vista mobile a partir de 320px */
@media (min-width: 320px) { 
    body.list main section.filter{
        width: 100%;
        display: flex;
        justify-content: center;
    }

}
/* Vista tablet a partir de 425px hereda de index.css  */

/* Vista Laptop a partir de 768px */
@media (min-width: 768px) {
    body.list main {
        display: flex;
        flex-direction: row-reverse;
    }
    body.list main section.productos article {
        width: 31.3%;
        display: block;
    }
    body.list main section.category {
        display: block;
    }
    body.list main section.filter{
        top: 45px;
        width: max-content;
        right: 25px;
    }
}

/* Vista Monitor a partir de 1020px */
@media (min-width: 1020px) {
    body.list main section.productos article {
        width: 23%;
        display: block;
    }
}