<footer>
    <div class="logo">
        <img src="/images/logo optica para footer.png" alt="">
    </div>
    <section>
        <nav class="lista">
            <nav>
                <h4>Productos</h4>
                <ul>
                    <li>De Sol</li>
                    <li>De Contacto</li>
                    <li>Soluciones Oftalmicas</li>
                    <li>Recetados</li>
                </ul>
            </nav>
            <nav>
                <h4>Coleccion</h4>
                <ul>
                    <li>Madera</li>
                    <li>Actrilicos</li>
                    <li>Metalicos</li>
                    <li>Flexibles</li>
                </ul>
            </nav>
            <nav class="redes">
                <h4>Siguenos</h4>
                <ul>
                    <a href="https://www.facebook.com/profile.php?id=100074587362817"><li>Facebook</li></a>
                    <a href="https://www.instagram.com/comnueve/"><li>Instagram</li></a> 
                    <a href="https://twitter.com/Laopticaecommer"><li>Twitter</li></a>
            </nav>
            </ul>
        </nav>
        <nav class="marca">
            <nav class="iconos">
                <a href="https://www.instagram.com/comnueve/"><i class="fab fa-instagram"></i></a>
                <a href="https://www.facebook.com/profile.php?id=100074587362817"><i class="fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/Laopticaecommer"><i class="fab fa-twitter"></i></a>
                <a href="https://www.youtube.com/channel/UCJfTPkN07rRpmuHcz8cyYsQ"><i class="fab fa-youtube"></i></a>
                
                
            </nav>
            <nav class="registrada">
                <p>La Optica ecommerce </p>
                <p>all rigths reserved</p>
            </nav>
        </nav>
    </section>
</footer>