<header>
    <section>
        <img src="/images/banner (1).jpg" alt="">
        <div class="sombreado"></div>
        <nav>
               <ul class="primero">
                   <li><a class="iconos" href=""><i class="fas fa-bars"></i></a></li>
                   <li><a class="iconos" href=""><i class="fas fa-search"></i></a></li>
               </ul>
               <ul class="medio">
                   <li><a href="/"><h1>La Óptica</h1></a></li>
               </ul>
               <ul class="ultimo">
                   <li><a href=""><i class="far fa-heart"></i></a></li>
                   <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
                   <li><a href="/products/cart"><i class="fas fa-shopping-bag"></i></a></li>
               </ul>
           <ul class="flechas">
               <button class="izq"><i class="fas fa-chevron-left"></i></button>
               <button class="der"><i class="fas fa-chevron-right"></i></button>
           </ul>
        </nav>
        <nav>
                <ul class="headerlaptop">
                    <li><a href="/">Home<i class="fas fa-home acompañante"></i></a></li>
                    <li><a href="">Productos<i class="fas fa-chevron-down acompañante"></i></a></li>
                    <li><a href="">Colección<i class="fas fa-chevron-down acompañante"></i></a></li>
                    
                    <li><a href=""><i class="far fa-heart"></i></a></li>
                    <li><a href="/users/login"><i class="fas fa-user"></i></a></li>
                    <li><a href="/products/cart"><i class="fas fa-shopping-bag"></i></a></li>
                </ul>
        </nav>
    </section>
</header>