<header class="headerAdmin">
    <div class="medio1">
        <h1 class="admin-t">Admin</h1>
    </div>

    <nav class="navbar navbar-light bg-light responsive center" >
        <form class="form-inline">
          <button class="boton-admin btn btn-outline-success" type="button"><a href="/">Home</a></button>
          <button class="boton-admin btn btn-outline-success" type="button"><a href="/admin/add-solucion-oftalmologica">Crear solucion</a></button>
          <button class="boton-admin btn btn-outline-success" type="button"><a href="/admin/crear-producto">Crear anteojos</a></button></button>
          <button class="boton-admin btn btn-outline-success" type="button"><a href="/admin/add-contactLentes">Crear lent-cont</a></button>
          <button class="boton-admin btn btn-outline-success" type="button"><a href="/admin">Tabla</a></button>
          
        </form>
      </nav>


</header>