<div>
    <img src="/images/logo optica final.jpg" alt="">
    <ul>
        <li><h4>Productos</h4></li>
        <li>De sol</li>
        <li>De contacto</li>
        <li>Soluciones oftalmicas</li>
        <li>Recetados</li>    
    </ul>
    <ul>
        <li><h4>Coleccion</h4></li>
        <li>Madera</li>
        <li>Acrilico</li>
        <li>Metalicos</li>
        <li>Flexibles</li></ul>
    <ul>
        <li><h4>Siguenos</h4></li>
        <li>Facebook</li>
        <li>Instagram</li>
        <li>Twitter</li>
    </ul>
    <p>2021 La Optica ecommerce</p>
    <p>all rights reserved</p>
</div>