<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="login">
    <header>
    </header>

    <main>
        <article class="todo">
            <div class="log-img3">
                <img class="img3" src="/images/login03.png" alt="">
            </div>
            <div class="todo2">
            <div class="accede">
                <h4>Accede | ¿No te has registrado?</h4>
                <a class="registrate" href="Registrate">Registrate.</a>
            </div>
            <div class="log-img">
                <img class="img1" src="/images/login01.jpg" alt="">
            </div>
            <div class="log-img2">
                <img class="img2" src="/images/login02.jpg" alt="">
            </div>
            <div class="inicio">
                <h2>Iniciar Sesión</h2>
            </div>
            <div class="boxes">
                <div class="log-box">
                    <label for="email">E-mail</label>
                    <input type="email" name="email" id="email" placeholder="Ingresá tu email">
                </div>
                <div class="log-box">
                    <label for="password">Contraseña</label>
                    <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">
                </div>
                <div class="radio-box">
                    <input class="recor-box" type="radio" id="recordar" value="recordar">
                    <label class="recor-tex" for="recordar">Recordar contraseña</label>
                    <a class="recup-box" href="recuperarcontraseña">¿Olvidaste tu contraseña?</a>
                </div>
                <div class="but-box">
                    <button type="submit">Entrar</button>
                </div> 
                <div class="google-box">
                    <a href=""><img src="/images/reg google.png" alt=""></a>
                </div>
            </div>
        </div>

        </article>
    </main>
    
</body>
</html>