<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="product">
    <header>
         <nav>
            <ul>
                <li><a class="iconos" href=""><i class="fas fa-bars"></i></a></li>
                <li><a class="iconos" href=""><i class="fas fa-search"></i></a></li>
            </ul>
            <ul>
                <li><a href=""><h1>La Óptica</h1></a></li>
            </ul>
            <ul>
                <li><a class= href=""><i class="far fa-heart"></i></a></li>
                <li><a class= href=""><i class="fas fa-user"></i></a></li>
                <li><a class= href=""><i class="fas fa-shopping-bag"></i></a></li>
            </ul>
        </nav>
    </header>
</body>
</html>
