<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart</title>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body class="cart">
    <header>
        <section>
            <img src="/images/banner (1).jpg" alt="">
            <div class="sombreado"></div>
            <nav>
                   <ul class="primero">
                       <li><a class="iconos" href=""><i class="fas fa-bars"></i></a></li>
                       <li><a class="iconos" href=""><i class="fas fa-search"></i></a></li>
                   </ul>
                   <ul class="medio">
                       <li><a href="/"><h1>La Óptica</h1></a></li>
                   </ul>
                   <ul class="ultimo">
                       <li><a href=""><i class="far fa-heart"></i></a></li>
                       <li><a href="/login"><i class="fas fa-user"></i></a></li>
                       <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
                   </ul>
               <ul class="flechas">
                   <button class="izq"><i class="fas fa-chevron-left"></i></button>
                   <button class="der"><i class="fas fa-chevron-right"></i></button>
               </ul>
            </nav>
            <nav>
                    <ul class="headerlaptop">
                        <li><a href="/">Home<i class="fas fa-home acompañante"></i></a></li>
                        <li><a href="">Productos<i class="fas fa-chevron-down acompañante"></i></a></li>
                        <li><a href="">Colección<i class="fas fa-chevron-down acompañante"></i></a></li>
                        
                        <li><a href=""><i class="far fa-heart"></i></a></li>
                        <li><a href="/login"><i class="fas fa-user"></i></a></li>
                        <li><a href="/cart"><i class="fas fa-shopping-bag"></i></a></li>
                    </ul>
            </nav>
        </section>
   </header>
    <main>
        <div class="menu">
            <h4>¡Registrate o inicia sesion para ver tus compras,favoritos y disfrutar beneficios!</h4>
            <ol>
                <li>CARRITO</li>
                <li>PAGO SEGURO</li>
                <li>ORDEN COMPLETADA</li>
            </ol>
            <button type="submit" style="background-color: rgb(17, 189, 69);"> <a href="/login">INGRESAR</a></button> 


        </div>
        <div class="articulo">
            <article>

                <h4>Articulo</42>
                    <h4>Nombre del articulo</h4>
                    <nav class="imagendetallada">
                        <img src="/images/anteojo-madera (1).jpg" alt="">
                        <ul>
                            <li>Color del armazon</li>
                            <li>Color del lente</li>
                            <li>Tamaño</li>
                        </ul>
                    </nav>
                    <ol>

                        <li>Precio unitario</li>
                        <li>Total</li>
                        <li>Cantidad</li>
                    </ol>






            </article>

        </div>

        <h4>Si desea agregar un comentario sobre su orden,por favor escribalo enseguida</h4>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <nav>
            <input type="checkbox" name="" id="">
            <label for="terminos y condiciones">Acepto los terminos de servicio <a href="">(leer)</a> </label>
        </nav>

        <button type="reset" style="background-color: dimgray;"><a href="/"> SEGUIR COMPRANDO</a></button>
        <button type="submit" style="background-color: rgb(87, 180, 241);"><a href="">COMPRAR AHORA</a> </button>




    </main>






    <footer>



        <div class="logo">
            <img src="/images/logo optica para footer.png" alt="">
        </div>
        <section>
            <nav class="lista">
                <nav>

                    <h4>Productos</h4>
                    <ul>
                        <li>De Sol</li>
                        <li>De Contacto</li>
                        <li>Soluciones Oftalmicas</li>
                        <li>Recetados</li>
                    </ul>
                </nav>
                <nav>
                    <h4>Coleccion</h4>
                    <ul>
                        <li>Madera</li>
                        <li>Actrilicos</li>
                        <li>Metalicos</li>
                        <li>Flexibles</li>
                    </ul>
                </nav>

                <nav class="redes">
                    <h4>Siguenos</h4>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                </nav>

                </ul>
            </nav>

            <nav class="marca">

                <nav class="iconos">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </nav>
                <nav class="registrada">
                    <p>La Optica ecommerce </p>
                    <p>all rigths reserved</p>
                </nav>
            </nav>
        </section>

    </footer>

</body>

</html>