<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart</title>
    <link rel="stylesheet" href="/css/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>
    <header>

    </header>
    <main>
        <div class="menu">
            <h4>¡registrate o inicia sesion para ver tus compras,favoritos y disfrutar beneficios!</h4>
            <ol>
                <li><a href="">CARRITO</a></li>
                <li><a href="">PAGO SEGURO</a></li>
                <li><a href="">ORDEN COMPLETADA</a></li>
            </ol>
            <button type="submit" style="background-color: dimgray;">INGRESAR</button>


        </div>
        <div class="articulo">
            <article>

                <h4>Articulo</42>
                    <h4>Nombre del articulo</h4>
                    <nav class="imagendetallada">
                        <img src="/images/anteojo-madera (1).jpg" alt="">
                        <ul>
                            <li>Color del armazon</li>
                            <li>Color del lente</li>
                            <li>Tamaño</li>
                        </ul>
                    </nav>
                    <ol>

                        <li>Precio unitario</li>
                        <li>Total</li>
                        <li>Cantidad</li>
                    </ol>






            </article>

        </div>

        <h4>Si desea agregar un comentario sobre su orden,por favor escribalo enseguida</h4>
        <textarea name="" id="" cols="30" rows="10"></textarea>
        <nav>
            <input type="checkbox" name="" id="">
            <label for="terminos y condiciones">Acepto los terminos de servicio(leer)</label>
        </nav>

        <button type="reset" style="background-color: dimgray;">SEGUIR COMPRANDO</button>
        <button type="submit" style="background-color: firebrick;">COMPRAR AHORA</button>




    </main>






    <footer>
        <nav>


            <div class="logo">
                <img src="/images/logo optica para footer.png" alt="">
            </div>

            <section>

                <h4>Coleccion</h4>
                <ul>
                    <li>De Sol</li>
                    <li>De Contacto</li>
                    <li>Soluciones Oftalmicas</li>
                    <li>Recetados</li>
                </ul>


            </section>
            <section>

                <h4>Armazon</h4>
                <ul>
                    <li>Madera</li>
                    <li>Actrilicos</li>
                    <li>Metalicos</li>
                    <li>Flexibles</li>
                </ul>


            </section>
            <section>

                <h4>Siguenos</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
                </ul>



            </section>
        </nav>


        <section class="marca">
            <nav class="registrada">
                <p>La Optica ecommerce</p>
                <p>all rigths reserved</p>
            </nav>
            <nav class="iconos">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
            </nav>

        </section>

    </footer>

</body>

</html>