<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>productCart</title>
</head>
<body>
    <header>

    </header>
     <main>
         <div>
             <h4>¡registrate o inicia sesion para ver tus compras,favoritos y disfrutar beneficios!</h4>
             <ul>
                 <li>
                     <a href="">carrito</a>
                    </li>
                 <li>
                     <a href="">pago seguro</a>
                    </li>
                 <li>
                     <a href="">orden completada</a>
                    </li>
             </ul>
             <button type="submit">INGRESAR</button>

         </div>
         <div>
             <article>
                 <h4>Articulo</42>
                 <h4>Nombre del articulo</h4>
                 <img src="" alt="">
                 <ul>
                     <li>Color sel armazon</li>
                     <li>Color del lente</li>
                     <li>Tamaño</li>
                     <li>precio unitario</li>
                     <li>total</li>
                     <li>cantidad</li>
                 </ul>
                 
             </article>

         </div>
         <div class="boxform">
             <h4>si desea agregar un comentario sobre su orden,por favor escribalo enseguida</h4>
             <textarea name="" id="" cols="30" rows="10"></textarea>
             <input type="checkbox" name="" id="">
             <label for="terminos y condiciones">Acepto los terminos de servicio</label>
             <button type="reset">Seguir comprando</button>
             <button type="submit">comprar ahora</button>

         </div>


    </main>






    <footer>

    </footer>
    
</body>
</html>