<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Header</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body class="product">
    <header>
        <section>
            <img src="/images/banner (1).jpg" alt="">
            <div class="sombreado"></div>
            <nav>
                   <ul class="primero">
                       <li><a class="iconos" href=""><i class="fas fa-bars"></i></a></li>
                       <li><a class="iconos" href=""><i class="fas fa-search"></i></a></li>
                   </ul>
                   <ul class="medio">
                       <li><a href=""><h1>La Óptica</h1></a></li>
                   </ul>
                   <ul class="ultimo">
                       <li><a class= href=""><i class="far fa-heart"></i></a></li>
                       <li><a class= href=""><i class="fas fa-user"></i></a></li>
                       <li><a class= href=""><i class="fas fa-shopping-bag"></i></a></li>
                   </ul>
               <ul class="flechas">
                   <button class="izq"><i class="fas fa-chevron-left"></i></button>
                   <button class="der"><i class="fas fa-chevron-right"></i></button>
               </ul>
            </nav>
            <nav>
                    <ul class="headerlaptop">
                        <li><a href="">Home<i class="fas fa-home acompañante"></i></a></li>
                        <li><a href="">Productos<i class="fas fa-chevron-down acompañante"></i></a></li>
                        <li><a href="">Colección<i class="fas fa-chevron-down acompañante"></i></a></li>
                        
                        <li><a href=""><i class="far fa-heart"></i></a></li>
                        <li><a href=""><i class="fas fa-user"></i></a></li>
                        <li><a href=""><i class="fas fa-shopping-bag"></i></a></li>
                    </ul>
                
            </nav>
        </section>
        
   </header>
   <main>
    <section class="container">
            <img src="/images/anteojo-madera (1).jpg" alt="">
            <div class="alineacion">
                <div class="marnye">
                    <span class="marca marca2">Marca</span>
                    <div class="nye">
                        <h2>Nombre del producto</h2>
                        <div>
                            
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            
                        </div>
                    </div>
                </div>
                <span class="precio precio2">$$$</span>
                
                <button class="agregar">
                    <h4>Agregá tus lentes:</h4>
                    <span><i class="fas fa-plus"></i></span>
                </button>
                    <div class="receta">
                        <span>Receta oculista.</span>
                        <button>SUBIR ARCHIVO</button>
                    </div>
                    <button class="comprarya">Comprar Ahora</button>
            </div>
        
    </section>
    <section>
            <h3>Detalles del Producto</h3>
        <button class="vermas">
            <span>Descripción</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas">
            <span>Especificaciones</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas">
            <span>Tamaño del marco</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
        <button class="vermas opciones">
            <span>Opciones de pago</span>
            <span><i class="fas fa-plus"></i></span>
        </button>
    </section>
    <div class="interesar">
        <h3 class="bis">Tambien te podria interesar</h3>
    </div>
        <div class="interes">
            
            <section>
                
                <img class="anteojo" src="/images/anteojo-madera (3).jpg" alt="">
                
                    <div class="combo">
                        <span class="marca">Marca</span>
                        <div class="nye">
                            <h2>Nombre del producto</h2>
                            <div>
                                
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="fas fa-star"></i></span>
                                    <span><i class="far fa-star"></i></span>
                                
                            </div>
                        </div>
                    </div>
                    <span class="precio precio3">$$$</span>
                    
                </section>
                <section class="segundoart">
                    <img class="anteojo" src="/images/anteojo-madera (7).jpg" alt="">
                    
                        <div class="combo">
                            <span class="marca">Marca</span>
                            <div class="nye">
                                <h2>Nombre del producto</h2>
                                <div>
                                    
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="fas fa-star"></i></span>
                                        <span><i class="far fa-star"></i></span>
                                    
                                </div>
                            </div>
                        </div>
                        <span class="precio precio3">$$$</span>
                    </section>
        </div>
        <div class="botontablet">
            <button class="fijo comprarya">Comprar Ahora</button>
        </div>
</main>

<footer>



    <div class="logo">
        <img src="/images/logo optica para footer.png" alt="">
    </div>
    <section>
        <nav class="lista">
            <nav>

                <h4>Coleccion</h4>
                <ul>
                    <li>De Sol</li>
                    <li>De Contacto</li>
                    <li>Soluciones Oftalmicas</li>
                    <li>Recetados</li>
                </ul>
            </nav>
            <nav>
                <h4>Armazon</h4>
                <ul>
                    <li>Madera</li>
                    <li>Actrilicos</li>
                    <li>Metalicos</li>
                    <li>Flexibles</li>
                </ul>
            </nav>

            <nav class="redes">
                <h4>Siguenos</h4>
                <ul>
                    <li>Facebook</li>
                    <li>Instagram</li>
                    <li>Twitter</li>
            </nav>

            </ul>
        </nav>

        <nav class="marca">

            <nav class="iconos">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-facebook-square"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-youtube"></i>
            </nav>
            <nav class="registrada">
                <p>La Optica ecommerce </p>
                <p>all rigths reserved</p>
            </nav>
        </nav>
    </section>

</footer>
</body>
</html>
