.home {
    margin: 0 auto;
    width: 100%
}

/* ------------------ Marcas ------------------ */
.home section.marcas{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    margin: 0 auto;
    position: relative;
    background-color: hsl(0, 0%, 50%, 0.1);
    border-radius: 45px;
}
.marcas .icono-flecha-izq {
    position: absolute;
    left: 3%;
}
.marcas .icono-flecha-der {
    position: absolute;
    right: 3%;
}
.home section.marcas div img {
    width: 100%;
}
/* ------------------ Products ------------------ */
.home section.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 95%;
    margin: 20px auto;
}

/* products > article */
.home .products article.item {
    margin: 10px 10px;
    box-shadow: 0 0 5px rgb(100 100 100 / 27%);
    border-radius: 2px;
}
/* container-image-item */
.home .products .item div.container-image-item {
    width: 90%;
    margin: 0 auto;
}
.home .products .item div.container-image-item div.image-item {
    margin: 0 auto;
    
}
.home .products .item div.container-image-item div.image-item img {
    width: 100%;
}

/* ---------------------- Imagen descuadrada por tamaño de alto --------------- */
.home > section.products > article:nth-child(5) > div.container-image-item > div {
    background-image: url('/images/anteojo-plastico (5).jpg');
    background-size: cover;
    background-position: center;
}
.home > section.products > article:nth-child(7) > div.container-image-item > div {
    background-image: url('/images/anteojo-plastico (4).jpg');
    background-size: cover;
    background-position: center;
}
.home > section.products > article:nth-child(5) > div.container-image-item > div > img,
.home > section.products > article:nth-child(7) > div.container-image-item > div > img {
    display: none;
}

/* products - article - detail-item */
.home .products .item .detail-item {
    display: flex;
    flex-wrap: wrap;
}
.home .products .item .detail-item p.title-item {
    width: 100%;
}

/* products - article - detail-items - container-price */
.home .products .item .detail-item .container-price {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.home .products .item .detail-item .container-price p.price-item, 
.home .products .item .detail-item .container-price span.discount-item {
    width: 50%;
}

.home .products .item .detail-item .tag-item {
    color: gray;
    display: none;
}
.home .products .item .detail-item .stars {
    display: none;
}

/* container-galeria-redes - icono-galeria-redes */
.home section.container-galeria-redes {
    margin: 20px 0;
}
.home section.container-galeria-redes div.icono-galeria-redes {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* circulo redes */
.home section.container-galeria-redes div.icono-galeria-redes .container-icono {
    background: radial-gradient(
        circle at 33% 100%,
        #fed373 4%,
        #f15245 30%,
        #d9237f 62%,
        #9b36b7 85%,
        #515ecf
        );
    border-radius: 30%;
    height: 1.3rem;
    width: 1.3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    
    }

.home section.container-galeria-redes div.container-icono i {
    color: white;
}
    
.home section.container-galeria-redes div.icono-galeria-redes h4 {
    padding-left: 4px;
}


/* galeria-redes */
.home section.galeria-redes {
    display: flex;
    align-items: center;
    width: 95%;
    margin: 0 auto;
    background-color: hsl(0, 0%, 50%, 0.1);
    /* background-color: var(--color-cuadros); */
    border-radius: 45px;
    position: relative;
}

/* galeria redes - flechas */
.galeria-redes .icono-flecha-der {
    position: absolute;
    right: 10%
}
.galeria-redes  .icono-flecha-izq {
    position: absolute;
    left: 10%
}

/* galeria-redes - article */
.home section.galeria-redes article {
    display: flex;
    flex-wrap: wrap;
    border-radius: 45px;
    text-align: center;
    margin: 10px;
}
.home section.galeria-redes article img {
    width: 100%;
    margin: 0 auto;
    border-radius: 45px;
}

/*  galeria redes // marca - botones */
.home .galeria-redes button,
.home .marcas button {
    border:none;
    background-color: transparent;
    color: black;
    padding: 10px;
}


/* Vista Mobile */
@media (min-width: 320px) {
    /* --------- max-width vista ---------  */
    .home {
        max-width: 435px;
        margin: 0 auto;
    }
    /* marcas */
    .home section.marcas div {
        display: none;
    }
    /* --------- products --------- */
    .home .products article.item {
        width: 43%;
    }
    .home .products article.seis,
    .home .products article.ocho {
        display: none;
    }
    .home .products .item div.container-image-item {
        width: 90%;
    }

    .home > section.products > article:nth-child(5) > div.container-image-item > div,
    .home > section.products > article:nth-child(7) > div.container-image-item > div {
        height: 76.5px;
    }
    .home .products .item .detail-item {
        padding: 5%;
    }
    .home .products .item div.container-image-item { 
        height: 76.5px;
    }

    /* --------- galeria redes ---------  */
    .home section.galeria-redes article {
        width: 55%;
    }
    .home section.galeria-redes article.anteultimo-post,
    .home section.galeria-redes article.resto-post {
        display: none;
    }
    .home section.galeria-redes {
        height: 248px;
        justify-content: center;
    }
    .home section.galeria-redes img {
        max-width: 215px;
    }
    
}

@media (min-width: 768px) {
    
    .home {
        max-width: 930px;
    }
    /* marcas */
    .home section.marcas div.flecha {
        display: flex;
    }
    .home section.marcas div.dos {
        display: flex;
        width: 33%
    }
    /* products */
    .home .products article.seis {
        display: block;
    }
    .home .products article.item {
        width: 30%;
    }
    /* galeria redes */
    .home section.galeria-redes article {
        width: 35%;
    }
    .home section.galeria-redes article.anteultimo-post {
        display: block;
    }
}

@media (min-width: 1024px) {
    .home {
        max-width: 1100px;
    }
    /* galeria redes */
    .home section.container-galeria-redes {
        background-color: hsl(0, 0%, 50%, 0.1);
        border-radius: 45px;
        height: inherit;
        width: 95%;
        margin: 0 auto;
    }
    .home section.galeria-redes {
        background-color: transparent;
        height: max-content;
    }
    /* sacando flechas */
    .home section.galeria-redes .galeria-flechas {
        display: none;
    }
    .home section.galeria-redes article {
        margin: 0;
    }
    .home section.galeria-redes .container-post {
        height: 350px;
    }
    .home section.galeria-redes article.resto-post {
        display: block;
    }
    .home section.galeria-redes section.post-pesado {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 40%;
    }
    .home section.galeria-redes article img {
        max-width: 132px;
    }
    .home section.galeria-redes article.post-grande {
        width: 100%;
    }
    .home section.galeria-redes article.post-grande img {
        max-width: 230.5px;
    }
    .home section.galeria-redes section.post-fila {
        display: flex;
        justify-content: space-around;
    }
    .home section.galeria-redes section.post-columna {
        width: 20%;
    }
    .home section.galeria-redes section.post-columna article {
        width: 71%;
        margin: 0 auto;
    }
}