.login main{
    width: 350px;
    margin: 0 auto;
    background-color: white;
}

.login article{
    border: gray solid 1px;
    border-radius: 10px;
    background-color: white;
}

.login main article a{
    color: blue;
}

.login main article .accede{
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

.login main article .registrate{
    padding: 18px 0 0 10px ;
}

.login main article .log-img{
    text-align: center;
}

.login main article div .img1{
   width: 320px;
   border-radius: 10px;
   border: solid 2px rgb(149, 149, 214);
}

.login main article .log-img2{
    display: none;
}

.login main article .img3{
    display: none;
}

.login main article .inicio{
    text-align: center;
}

.login main article h2{
    font-size: 20px;
}

.login main article .boxes{
    display: flex;
    flex-direction: column;
    padding-left: 20px;
}

.login main article label{
    display: block;
    margin: 5px 0;
}

.login main article input{
    display: block;
    padding-right: 120px;
}

.login main article .radio-box{
    display: flex;
}

.login main article .recor-box{
    margin-top: 12px;
}

.login main article .recor-tex{
    font-size: 12px;
    margin-top: 10px;
}

.login main article .recup-box{
    font-size: 12px;
    margin: 10px 0 0 18px;
}

.login main article .but-box{
    text-align: center;
    margin: 20px 0;
}

.login main article button{
    color: white;
    background-color: rgb(38, 201, 65);
    border-radius: 10px;
    height: 30px;
    width: 200px;
    
}

.login main article .google-box{
    text-align: center;
    margin-bottom: 15px;
}

.login main article .google-box img{
    width: 200px;
    border-radius: 10px;
    height: 30px;    
}

@media (min-width : 481px){


    .login main{
        width: 480px;
        margin: 0 auto;
        background-color: white;
    }

    .login article{
        border: gray solid 1px;
        border-radius: 10px;
        background-color: white;
    }

    .login main article .accede{
        display: flex;
        flex-wrap: wrap;
        
    }

    .login main h4{
        font-size: 17px;        
        width: 60%;
        margin-left: 20px;
        
    }

    .login main article .registrate{
        font-size: 18px;
        margin: 5px 0 0 20px;
       
    }

    .login main article .log-img{
        display: none;
    }

    .login main article .img3{
        display: none;
    }

    .login main article .log-img2{
        display: block;
        text-align: center;
    }

    .login main article .img2{
        width: 90%;
        border-radius: 20px;
        border: solid 2px rgb(149, 149, 214);

    }

    .login main article h2{
        font-size: 30px;
    }

    .login main article label{
        display: block;
        margin: 5px 0;
        font-size: 18px;
    }

    .login main article input{
        display: block;
        padding-right: 200px;
        font-size: 18px;
    }

    .login main article .radio-box{
        display: flex;
        margin-top: 10px;
    }

    .login main article .recor-box{
        margin-top: 12px;
    }

    .login main article .recor-tex{
        font-size: 15px;
        margin-top: 10px;
    }

    .login main article .recup-box{
        font-size: 15px;
        margin: 10px 0 0 75px;
    }

    .login main article button{
        color: white;
        font-size: 25px;
        background-color: rgb(38, 201, 65);
        border-radius: 10px;
        height: 40px;
        width: 300px;        
    }

    .login main article .google-box img{
        width: 300px;
        border-radius: 10px;
        height: 40px;    
    }
}


@media (min-width:769px){

    .login main{
        width: 750px;
        margin: 0 auto;
        background-color: white;
    }

    .login main article .img2{
        display: none;
    }

    .login main .todo{
        display: flex;
    }

    .login main .log-img3{
        display:inline-block;
        width: 50%;
    }

    .login main article .img3{
        display: inline-block;
        width: 380px;
        margin: 25px 0 0 5px;
        border-radius: 50px;
        border: solid 2px rgb(149, 149, 214);
    }

    .login main article .todo2{
        width: 50%;
    }

    .login main article .accede{
        display: flex;
        flex-wrap: wrap;
        padding-left: 10px;
    }

    .login main h4{
        font-size: 17px;        
        width: 50%;
        margin-left: 18px;
        
    }
    
    .login main article .registrate{
        padding: 18px 0 0 10px ;
    }

    .login main article input{
        display: block;
        padding-right: 90px;
    }


    








}