<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %> 
    <body>
    <%- include('../partials/header') %> 




    <main class="edit">

        <section class="imagen">
            
            <div class='anteojo'>
                <img src="/images/anteojo-madera (1).jpg" alt="">
               </div>
            
            



            <div>
                <button>
                    <a href="">Cargar imagen</a>
                </button>
            </div>

            <div>
                <label for="">JPG</label>
                <input type="checkbox">
                <label for="">PNG</label>
                <input type="checkbox">
                <label for="">TIFF</label>
                <input type="checkbox">
                <label for="">BMP</label>
                <input type="checkbox">
            </div>



        </section>




        <section class="formulario">
            <form action="POST">




                <div class="container">
                   
                    <label for="Marca">Marca del producto</label>
                    <input type="text" id="brand" name="Marca">
                    
                   
                            
                </div>

                <div class="container">
                   
                    <label for="Precio">Precio del producto</label>
                    <input type="number" id="Precio" name="Precio">
                    
                            
                </div>
                <div class="container">
                   
                    <label for="marco">Tipo de marco del producto</label>
                    <input type="text" id="marco" name="marco">
                   
                   
                            
                </div>

                <div class="container">
                  
                    <label for="lente">Tipo de lente del producto</label>
                    <input type="text" id="lente" name="lente">
                    
                    
                           
                </div>
                <div class="container">
                  
                        <label for="Descuento">Descuento del producto</label>
                        <input type="text" id="Descuento" name="Descuento">
                       
                      
                   
                </div>

                <div class="container">
                
                        <label for="Codigo">Codigo del producto</label>
                        <input type="text" id="Codigo" name="Codigo">
                       
                        
                  
                </div>





                <div class="container">
                    <div>
                        <label for="descripcion">detalle del producto</label>
                    </div>
                    <div>
                        <textarea name="descripcion" id="" cols="30" rows="10"></textarea>
                    </div>

                </div>


                <button>
                    <input type="submit" value="Cargar">
                </button>




            </form>
            
        </section>

    </main>




    <%- include('../partials/footer') %> 

</body>

</html>




