<!DOCTYPE html>
<html lang="es">

    <%- include('../partials/head') %> 
    <body>
    <%- include('../partials/header') %> 




    <main class="edit">

        <section class="imagen">
            
           <div class='anteojo'>
            <img src="/images/anteojo-madera (1).jpg" alt="">
           </div>
               
            
            



            <div>
                <button>
                    <a href="">Cargar imagen</a>
                </button>
            </div>

            <div>
                <label for="">JPG</label>
                <input type="checkbox">
                <label for="">PNG</label>
                <input type="checkbox">
                <label for="">TIFF</label>
                <input type="checkbox">
                <label for="">BMP</label>
                <input type="checkbox">
            </div>



        </section>




        <section class="formulario">
            <form action="">




                <div class="container">
                    
                    <label for="brand">Marca del producto</label>
                    <input type="text" id="brand" name="brand">
                    
                   
                           
                </div>

                <div class="container">
                  
                    <label for="price">Precio del producto</label>
                    <input type="number" id="price" name="price">
                    
                          
                </div>
                <div class="container">
                   
                    <label for="framework">Tipo de marco del producto</label>
                    <input type="text" id="framework" name="framework">
                    
                    
                           
                </div>

                <div class="container">
                   
                    <label for="lens">Tipo de lente del producto</label>
                    <input type="text" id="lens" name="lens">
                    
                   
                           
                </div>
                <div class="container">
                    
                        <label for="discount">Descuento del producto</label>
                        <input type="text" id="discount" name="discount">
                        
                       
                   
                </div>

                <div class="container">
                    
                        <label for="code">Codigo del producto</label>
                        <input type="text" id="code" name="code">
                       
                        
                   
                </div>





                <div class="container">
                    <div>
                        <label for="desctription">detalle del producto</label>
                    </div>
                    <div>
                        <textarea name="description" id="" cols="30" rows="10"></textarea>
                    </div>

                </div>







            </form>
            <div>
                <button>
                    <a href="">Editar archivo</a>
                </button>

                
            </div>
        </section>

    </main>




    <%- include('../partials/footer') %> 

</body>

</html>