<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head') %> 
<body>
<%- include('../partials/header') %> 
    <main>
        <form action="/admin/add" method="post"></form>
    </main>
<%- include('../partials/footer') %> 
</body>
</html>