<!DOCTYPE html>
<html lang="es">

<%- include('../partials/head') %> 
<body>
<%- include('../partials/header') %> 
    <main>
        <div>
            <form action="/admin/add-solucion-oftalmologica" method="post">
                <div class="box-input">
                    <input type="text" name="name"required>
                </div>
                <div class="box-input">
                    <input type="text" name="marca" required>
                </div>
                <div class="box-input">
                    <input type="number" name="codigo" required>
                </div>
                <div class="box-input">
                    <input type="number" name="price" required>
                </div>
                <div class="box-input">
                    <input type="number" name="discount" required>
                </div>
                <div class="box-input">
                    <input type="file" name="image" id="image" required>
                </div>
                <div class="box-input">
                    <input type="text" name="lens" required>
                </div>
                <div class="box-input">
                    <textarea name="detail" id="detail" cols="30" rows="10" ></textarea>
                </div>
                <div class="box-input">
                    <input type="submit" value="Cargar">
                </div>
            </form>
        </div>
    </main>
<%- include('../partials/footer') %> 
</body>
</html>