<!DOCTYPE html>
<html lang="es">
    <%- include('./partials/head') %>
<body class="register"><link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    rel="stylesheet" />

    <%- include('./partials/header') %>

    <main>
        <article>
            <div class="todo">
                <div class="titulo">
                    <h1>Crea tu cuenta</h1>
                </div>
            <div class="logos">
                <img class="logo" src="/images/register01.jpg" alt="">
            </div>
                
        <form action="">
            <div class="todo2">
                <div class=" reg-img">
            <div class="box-p">
            
            <div class="reg-box">
                <label for="nombre">Nombre</label>
                <input type="text" name="nombre" id="nombre" placeholder="Ingresá tu Nombre">
            </div>
            <div class="reg-box">
                <label for="apellido">Apellido</label>
                <input type="text" name="apellido" id="apellido" placeholder="Ingresá tu Apellido">
            </div>
            <div class="reg-box">
                <label for="email">E-mail</label>
                <input type="email" name="email" id="email" placeholder="Ingresá tu email">
            </div>
            <div class="reg-box">
                <label for="password">Contraseña</label>
                <input type="password" name="password" id="password" placeholder="Ingresá tu contraseña">
            </div>
            
        </div>
        <div>
                <img class="logo3" src="/images/register03.png" alt="">
            </div>

        </div>
        <div class=" quehacer">
            <img class="logo2" src="/images/register02.png" alt="">
            
            <h3>¿Qué vas a poder hacer con tu cuenta?</h3>
            <ul>
                <li><i class="fas fa-check"></i>Consultar el estado de compras.</li>
                <li><i class="fas fa-check"></i>Administrar tus productos favoritos.</li>
                <li><i class="fas fa-check"></i>Descargar las facturas.</li>
                <li><i class="fas fa-check"></i>Consultas manuales de los productos comprados.</li>
                <li><i class="fas fa-check"></i>Definir tus preferencias e intereses.</li>
                <li><i class="fas fa-check"></i>Acceder al historial de productos.</li>
                <li><i class="fas fa-check"></i>Retomar tus compras incompletas.</li>
            </ul>
        </div>
       
    </div>
</div>
        </form>

            <div class="but-box">
                <button type="submit">Crear cuenta</button>
            </div>
            <div class="google-box">
                <a href=""><img src="/images/reg google.png" alt=""></a>
            </div>
            <div class="registrate"><h4>¿Ya tenés una cuenta?</h4>
                <a class="ingresa" href="/users/login">Ingresá.</a>
            </div>
    </article>

    </main>

    <footer>



        <div class="logo">
            <img src="/images/logo optica para footer.png" alt="">
        </div>
        <section>
            <nav class="lista">
                <nav>

                    <h4>Productos</h4>
                    <ul>
                        <li>De Sol</li>
                        <li>De Contacto</li>
                        <li>Soluciones Oftalmicas</li>
                        <li>Recetados</li>
                    </ul>
                </nav>
                <nav>
                    <h4>Coleccion</h4>
                    <ul>
                        <li>Madera</li>
                        <li>Actrilicos</li>
                        <li>Metalicos</li>
                        <li>Flexibles</li>
                    </ul>
                </nav>

                <nav class="redes">
                    <h4>Siguenos</h4>
                    <ul>
                        <li>Facebook</li>
                        <li>Instagram</li>
                        <li>Twitter</li>
                </nav>

                </ul>
            </nav>

            <nav class="marca">

                <nav class="iconos">
                    <i class="fab fa-instagram"></i>
                    <i class="fab fa-facebook-square"></i>
                    <i class="fab fa-twitter"></i>
                    <i class="fab fa-youtube"></i>
                </nav>
                <nav class="registrada">
                    <p>La Optica ecommerce </p>
                    <p>all rigths reserved</p>
                </nav>
            </nav>
        </section>

    </footer>
    
</body>
</html>
