        </div>
    </section>
        <button aria-label="Siguiente" class="<%= clase %>-next"><i class="fas fa-chevron-right"></i></button>
        <button aria-label="Anterior" class="<%= clase %>-prev"><i class="fas fa-chevron-left"></i></button>
        <div role="tablist" class=<%= dots %>></div>
</section>
